<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark" lang="en">
    <div th:fragment="logInCard(newAccount, userNotFound)" id="loginCard" class="w-full p-4 lg:w-[32rem]">
        <div th:if="${newAccount}" class="alert-success mb-2" role="alert">Account created! Try logging in.</div>
        <div th:if="${userNotFound}" class="alert-danger mb-2" role="alert">User not found</div>
        <div th:replace="~{fragments/tk/card :: card('Welcome Back', ~{::content})}">
            <div th:fragment="content">
                <form hx-post="/login" hx-target="#loginCard" hx-swap="outerHTML">
                    <div class="flex flex-col space-y-2">
                        <div class="flex flex-col space-y-2">
                            <div
                                th:replace="~{fragments/tk/input :: emailLineEdit('emailAddress', 'E-Mail', true)}"
                            ></div>
                            <div
                                th:replace="~{fragments/tk/input :: passwordLineEdit('password', 'Password', true)}"
                            ></div>
                        </div>
                        <div class="flex flex-row space-x-2">
                            <div th:replace="~{fragments/tk/button :: button('Log In', 'submit')}"></div>
                            <div th:replace="~{fragments/tk/button :: linkButton('Sign Up', '/signUp')}"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>
