<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark" lang="en">
    <!-- nav bar -->
    <div th:fragment="navBar(appName)" class="navbar">
        <div class="navbar-content">
            <a id="navBarHamburger" class="navbar-hamburger">☰</a>
            <p class="navbar-title" th:text="${appName}"></p>
        </div>
    </div>

    <!-- nav bar drawer-->
    <div id="navBarDrawer" th:fragment="navBarDrawer(navBarDrawerList)" class="navbar-drawer">
        <div th:replace="${navBarDrawerList}"></div>
    </div>

    <!-- nav bar drawer list -->
    <div id="navBarDrawerList" th:fragment="navBarDrawerList(listItems)" class="navbar-drawer-list">
        <div th:replace="~{::listItems}"></div>
    </div>

    <!-- nav bar drawer list item -->
    <a
        th:fragment="navBarDrawerListItem(text, url, iconRelativeUrl, iconAlt)"
        th:href="${url}"
        class="navbar-drawer-list-item">
        <p th:text="${text}"></p>
        <img th:src="${iconRelativeUrl}" th:alt="${iconAlt}" />
    </a>
</html>
