<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark" lang="en">

<div th:fragment="navBar(appName)" class="navbar">
    <div class="navbar-content">
        <a id="navBarHamburger" class="navbar-hamburger">☰</a>
        <p class="navbar-title" th:text="${appName}"></p>
    </div>
</div>

<div id="navBarDrawer" th:fragment="navBarDrawer" class="navbar-drawer navbar-drawer-disabled">
    <div id="navBarList" class="navbar-list">
        <a href="#" class="navbar-list-item">Home</a>
    </div>
</div>