<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark" lang="en">
<div th:fragment="populatedNavBar(navBarTitle)">
    <div th:replace="~{fragments/tk/nav :: navBar(${navBarTitle})}"></div>
    <div th:replace="~{fragments/tk/nav :: navBarDrawer(~{::navBarDrawerList})}">
        <div th:fragment="navBarDrawerList" th:replace="~{fragments/tk/nav :: navBarDrawerList(listItems)}">
            <div th:fragment="listItems">
                <a th:replace="~{fragments/tk/nav :: navBarDrawerListItem('Home', '/home', '#pageContent')}"></a>
                <a
                    th:replace="~{fragments/tk/nav :: navBarDrawerListItem('Log Dashboard', '/logDashboard', '#pageContent')}"
                ></a>
                <a
                    th:replace="~{fragments/tk/nav :: navBarDrawerListItem('Medication', '/medication', '#pageContent')}"
                ></a>
                <a th:replace="~{fragments/tk/nav :: navBarDrawerListItem('Logout', '/logout', '#pageContent')}"></a>
            </div>
        </div>
    </div>
</div>
</html>
