<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <div th:replace="scripts_common :: bootstrap"></div>
    <title>Home - SeizureTracker</title>
</head>
<body>

<!-- navbar -->
<div th:replace="fragments/nav :: bar(activeSection = 'home')"></div>

<!-- basic card -->
<main class="flex-fill">
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title pt-2">Hello, <span th:text="${userFirstName}"></span></h2>
                <p class="card-subtitle pt-1 pb-3 text-muted">How is your day going?</p>
            </div>
        </div>
    </div>
</main>
</body>
</html>
