<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <div th:replace="~{scripts_common :: bootstrap}"></div>
    <title>Home - SeizureTracker</title>
</head>
<body>

<!-- navbar -->
<div th:replace="~{fragments/nav :: bar(activeSection = 'log')}"></div>

<!-- basic card -->
<main class="flex-fill">
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 class="card-title">We hope you're doing okay, <span
                                    th:text="${userFirstName}"></span>
                            </h2>
                            <p class="card-subtitle text-muted">Below is a log of your recorded seizures. </p>
                            <hr>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col">
                            <a href="/log/newEntry" class="btn btn-outline-primary float-end">New</a>
                        </div>
                    </div>
                </div>
                <!-- table -->
                <div class="p-2">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Severity</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Before Note</th>
                                <th scope="col">During Note</th>
                                <th scope="col">After Note</th>
                                <th scope="col">Hospital Visit</th>
                                <th scope="col">Additional Comments</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="logEntry : ${seizureLogs}">
                                <td th:text="${logEntry.getSeverity()}/10"></td>
                                <td th:text="${logEntry.getDuration()} minutes"></td>
                                <td th:text="${logEntry.getBeforeSeizureNote()}"></td>
                                <td th:text="${logEntry.getDuringSeizureNote()}"></td>
                                <td th:text="${logEntry.getAfterSeizureNote()}"></td>
                                <td th:text="${logEntry.isHospitalVisitOccurred()}"></td>
                                <td th:text="${logEntry.getAdditionalComment()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
