<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
    <head th:replace="~{scripts_common :: head('Record a Seizure - SeizureTracker')}"></head>

    <body>
        <!-- basic card -->
        <div class="container">
            <div class="col">
                <div
                    th:replace="~{fragments/card :: cardWithHeaderAndFooter(~{::headerContent}, 'Let\'s get started', null, ~{::bodyContent}, ~{::footerContent})}"
                >
                    <div th:fragment="headerContent">
                        <div class="pb-1 pt-1">Log a Seizure</div>
                    </div>
                    <div th:fragment="bodyContent">
                        <form action="/log/newEntry" method="post" id="logNewSeizureForm">
                            <div class="col">
                                <div class="row pb-2">
                                    <label for="severityInput">Severity</label>
                                    <div class="col input-group">
                                        <input
                                            id="severityInput"
                                            name="severity"
                                            type="number"
                                            min="1"
                                            max="10"
                                            class="form-control"
                                        />
                                        <span class="input-group-text" id="severitySuffix">/ 10</span>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <label for="durationInput">Duration</label>
                                    <div class="col input-group">
                                        <input id="durationInput" name="duration" type="number" class="form-control" />
                                        <span class="input-group-text" id="durationSuffix">minutes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    <a href="/log/draft/1234/initialize/step2" class="btn btn-outline-primary float-end"
                                        >Next</a
                                    >
                                    <!-- <button type="submit" class="btn btn-primary">Next</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                    <div th:fragment="footerContent">
                        <div class="pb-1 pt-1">
                            <div class="progress" style="height: 22px">
                                <div
                                    class="progress-bar"
                                    role="progressbar"
                                    style="width: 33%"
                                    aria-valuenow="33"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                >
                                    Step 1/3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
