<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="scripts_common :: bootstrap(activeSection='home')"></div>
    <title>Error - SeizureTracker</title>
</head>
<body>

<!-- Your page content -->
<main class="flex-fill">
    <div class="container my-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title pt-2">Oops</h2>
                <p class="card-subtitle pt-1 pb-3 text-muted">Something went wrong...</p>
                <div class="alert alert-secondary font-monospace text-uppercase" role="alert">
                    <div th:text="${errorMessage}"></div>
                    <br>
                    <div class="text-muted" th:text="${detailedErrorMessage}"></div>
                </div>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</main>
</body>
</html>
